

body {
	height: px;
	position: relative;
	font-family: sans-serif;
	background-color: #FFB473;
	}
h1 {
	postition: absolute;
	height: 300px;
	top: 20px;
	color: #FF1416;
	font-size: 90px;
}


.topnav {
  font-size:  20px;
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 10;
  overflow: hidden;
  background-color:red ;
}

.multipages {
  float: left;
}

.multipages a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.multipages a:hover {
  background-color: red;
}
.multipages a:hover {
  background-color: #FFB473;
}

}
