

h1 {
	text-align: center;
	color: #FF1416;
	font-size: 90px;
	postion: relative;
	padding-top: 100px;
	
}
body {
	position: relative;
	font-family: sans-serif;
	background-color: #FFB473;
	}


.topnav {
  font-size: 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 1500;
  list-style-type: none;
  margin: 0px 0px;
  padding: 10px;
  overflow: hidden;
  background-color:red ;
}

.multipages {
  float: left;
}

.multipages a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 97px;
  text-decoration: none;
}


.multipages a:hover {
  background-color: #FFB473;
}

}
